body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1214px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:516px;
  width:1000px;
  height:80px;
  color:#0000FF;
}
#u136_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:996px;
  word-wrap:break-word;
}
#u138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:22px;
}
#u138_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:60px;
  height:22px;
}
#u139_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:88px;
  width:1000px;
  height:80px;
  color:#0000FF;
}
#u140_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:996px;
  word-wrap:break-word;
}
#u142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:873px;
  top:114px;
  width:54px;
  height:28px;
  color:#0000FF;
}
#u142_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:250px;
  width:1000px;
  height:80px;
  color:#0000FF;
}
#u144_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:996px;
  word-wrap:break-word;
}
#u146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:228px;
  width:78px;
  height:22px;
}
#u146_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:873px;
  top:279px;
  width:55px;
  height:22px;
}
#u147_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:363px;
  width:78px;
  height:22px;
}
#u148_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:385px;
  width:1000px;
  height:80px;
  color:#0000FF;
}
#u149_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:996px;
  word-wrap:break-word;
}
#u151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:873px;
  top:414px;
  width:55px;
  height:22px;
}
#u151_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:892px;
  top:643px;
  width:100px;
  height:120px;
}
#u152_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:120px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u153 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:120px;
}
#u154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  color:#0000FF;
}
#u154_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  color:#0000FF;
}
#u156_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
  color:#0000FF;
}
#u158_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:100px;
  height:30px;
  color:#0000FF;
}
#u160_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u162_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:356px;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:898px;
  top:302px;
  width:5px;
  height:341px;
}
#u162_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:229px;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:923px;
  top:429px;
  width:5px;
  height:214px;
}
#u163_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:494px;
  width:96px;
  height:22px;
}
#u164_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:873px;
  top:545px;
  width:59px;
  height:22px;
}
#u165_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u166_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:95px;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:887px;
  top:563px;
  width:5px;
  height:80px;
}
#u166_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:163px;
  height:31px;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:973px;
  top:745px;
  width:148px;
  height:5px;
}
#u167_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:1131px;
  top:741px;
  width:91px;
  height:22px;
  color:#0000FF;
}
#u168_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
