body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1102px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:80px;
  color:#0000FF;
}
#u198_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:996px;
  word-wrap:break-word;
}
#u200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:893px;
  top:29px;
  width:55px;
  height:22px;
}
#u200_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:241px;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:90px;
  width:200px;
  height:241px;
}
#u201_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:400px;
  width:60px;
  height:22px;
}
#u202_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:447px;
  width:78px;
  height:22px;
}
#u203_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:490px;
  width:78px;
  height:22px;
}
#u204_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:646px;
  width:78px;
  height:22px;
}
#u205_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:397px;
  width:222px;
  height:25px;
}
#u206_input {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:447px;
  width:222px;
  height:25px;
}
#u207_input {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:490px;
  width:217px;
  height:135px;
}
#u208_input {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:135px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:644px;
  width:222px;
  height:25px;
}
#u209_input {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:696px;
  width:140px;
  height:25px;
}
#u210_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:696px;
  width:128px;
  height:25px;
}
#u211_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:124px;
  word-wrap:break-word;
}
#u212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:696px;
  width:140px;
  height:25px;
}
#u212_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:136px;
  word-wrap:break-word;
}
#u213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:749px;
  width:286px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u213_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  white-space:nowrap;
}
#u214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:287px;
  width:106px;
  height:30px;
}
#u214_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  word-wrap:break-word;
}
#u215_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:215px;
  height:31px;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:519px;
  width:200px;
  height:5px;
}
#u215_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:958px;
  top:511px;
  width:144px;
  height:22px;
  color:#0000FF;
}
#u216_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:357px;
  width:56px;
  height:22px;
}
#u218_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:354px;
  width:222px;
  height:25px;
}
#u219_input {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
