body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1061px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:80px;
  color:#0000FF;
}
#u170_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:996px;
  word-wrap:break-word;
}
#u172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:893px;
  top:29px;
  width:55px;
  height:22px;
}
#u172_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:233px;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:111px;
  width:204px;
  height:233px;
}
#u173_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:370px;
  width:60px;
  height:22px;
}
#u174_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:417px;
  width:73px;
  height:22px;
}
#u175_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:462px;
  width:78px;
  height:22px;
}
#u176_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:606px;
  width:78px;
  height:22px;
}
#u177_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:683px;
  width:140px;
  height:40px;
}
#u178_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:683px;
  width:140px;
  height:40px;
}
#u179_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:756px;
  width:286px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u180_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  white-space:nowrap;
}
#u181_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:215px;
  height:31px;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:681px;
  top:427px;
  width:200px;
  height:5px;
}
#u181_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:903px;
  top:418px;
  width:158px;
  height:22px;
  color:#0000FF;
}
#u182_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  white-space:nowrap;
}
