body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1266px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u606_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u606 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:80px;
  color:#0000FF;
}
#u606_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:996px;
  word-wrap:break-word;
}
#u608_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u608 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:102px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u608_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u609_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:415px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u609 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:160px;
  width:1025px;
  height:415px;
}
#u609_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u610 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:189px;
  width:952px;
  height:204px;
}
#u611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:50px;
}
#u611 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:50px;
}
#u611_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:115px;
  word-wrap:break-word;
}
#u612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:50px;
}
#u612 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:0px;
  width:119px;
  height:50px;
}
#u612_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:115px;
  word-wrap:break-word;
}
#u613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:50px;
}
#u613 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:0px;
  width:119px;
  height:50px;
}
#u613_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:115px;
  word-wrap:break-word;
}
#u614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:50px;
}
#u614 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:0px;
  width:119px;
  height:50px;
}
#u614_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:115px;
  word-wrap:break-word;
}
#u615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:50px;
}
#u615 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:0px;
  width:119px;
  height:50px;
}
#u615_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:115px;
  word-wrap:break-word;
}
#u616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:50px;
}
#u616 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:0px;
  width:119px;
  height:50px;
}
#u616_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:115px;
  word-wrap:break-word;
}
#u617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:50px;
}
#u617 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:0px;
  width:119px;
  height:50px;
}
#u617_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:50px;
}
#u618 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:0px;
  width:119px;
  height:50px;
}
#u618_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:50px;
}
#u619 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:119px;
  height:50px;
}
#u619_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:115px;
  word-wrap:break-word;
}
#u620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:50px;
}
#u620 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:50px;
  width:119px;
  height:50px;
}
#u620_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:115px;
  word-wrap:break-word;
}
#u621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:50px;
}
#u621 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:50px;
  width:119px;
  height:50px;
}
#u621_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:115px;
  word-wrap:break-word;
}
#u622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:50px;
}
#u622 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:50px;
  width:119px;
  height:50px;
}
#u622_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:115px;
  word-wrap:break-word;
}
#u623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:50px;
}
#u623 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:50px;
  width:119px;
  height:50px;
}
#u623_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:115px;
  word-wrap:break-word;
}
#u624_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:50px;
}
#u624 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:50px;
  width:119px;
  height:50px;
}
#u624_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:115px;
  word-wrap:break-word;
}
#u625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:50px;
}
#u625 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:50px;
  width:119px;
  height:50px;
  color:#0000FF;
}
#u625_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:115px;
  word-wrap:break-word;
}
#u627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:50px;
}
#u627 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:50px;
  width:119px;
  height:50px;
  color:#0000FF;
}
#u627_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:115px;
  word-wrap:break-word;
}
#u629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:52px;
}
#u629 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:119px;
  height:52px;
}
#u629_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:115px;
  word-wrap:break-word;
}
#u630_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:52px;
}
#u630 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:100px;
  width:119px;
  height:52px;
}
#u630_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:115px;
  word-wrap:break-word;
}
#u631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:52px;
}
#u631 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:100px;
  width:119px;
  height:52px;
}
#u631_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:115px;
  word-wrap:break-word;
}
#u632_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:52px;
}
#u632 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:100px;
  width:119px;
  height:52px;
}
#u632_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:115px;
  word-wrap:break-word;
}
#u633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:52px;
}
#u633 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:100px;
  width:119px;
  height:52px;
}
#u633_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:115px;
  word-wrap:break-word;
}
#u634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:52px;
}
#u634 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:100px;
  width:119px;
  height:52px;
}
#u634_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:115px;
  word-wrap:break-word;
}
#u635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:52px;
}
#u635 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:100px;
  width:119px;
  height:52px;
  color:#0000FF;
}
#u635_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:115px;
  word-wrap:break-word;
}
#u637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:52px;
}
#u637 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:100px;
  width:119px;
  height:52px;
  color:#0000FF;
}
#u637_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:115px;
  word-wrap:break-word;
}
#u639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:52px;
}
#u639 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:152px;
  width:119px;
  height:52px;
}
#u639_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:115px;
  word-wrap:break-word;
}
#u640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:52px;
}
#u640 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:152px;
  width:119px;
  height:52px;
}
#u640_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:115px;
  word-wrap:break-word;
}
#u641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:52px;
}
#u641 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:152px;
  width:119px;
  height:52px;
}
#u641_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:115px;
  word-wrap:break-word;
}
#u642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:52px;
}
#u642 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:152px;
  width:119px;
  height:52px;
}
#u642_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:115px;
  word-wrap:break-word;
}
#u643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:52px;
}
#u643 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:152px;
  width:119px;
  height:52px;
}
#u643_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:52px;
}
#u644 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:152px;
  width:119px;
  height:52px;
}
#u644_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:52px;
}
#u645 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:152px;
  width:119px;
  height:52px;
}
#u645_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:52px;
}
#u646 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:152px;
  width:119px;
  height:52px;
}
#u646_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u647_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u647 {
  border-width:0px;
  position:absolute;
  left:874px;
  top:29px;
  width:55px;
  height:22px;
}
#u647_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u648 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:475px;
  width:140px;
  height:40px;
}
#u648_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u649_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u649 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:475px;
  width:140px;
  height:40px;
}
#u649_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u650_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:215px;
  height:31px;
}
#u650 {
  border-width:0px;
  position:absolute;
  left:911px;
  top:424px;
  width:200px;
  height:5px;
}
#u650_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u651_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u651 {
  border-width:0px;
  position:absolute;
  left:1121px;
  top:405px;
  width:145px;
  height:44px;
}
#u651_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
